.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  height: 100vh;
}
.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-form input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 25px;
}

.login-form input:focus {
  border-color: #007bff;
  outline: none;
}

/* Button styling */
.login-form button {
  width: 100%;
  padding: 12px;
  margin-top: 20px;
  font-size: 18px;
  background-color: #1056d8;
  color: #fff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.register-btn {
  width: 100%;
  padding: 12px;
  margin-top: 20px;
  font-size: 18px;
  background-color: #1056d8;
  color: #fff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
  text-align: center;
}

/* Responsive design */
@media (max-width: 600px) {
  .login-form {
    padding: 15px;
    margin: 20px;
    width: 90%;
  }

  .login-form input {
    padding: 8px;
    font-size: 14px;
  }

  .login-form button {
    padding: 10px;
    font-size: 16px;
  }
}
