.Register-container {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 90%;
  margin: 20px;
}
@media screen and (min-width: 992px) {
  .Register-container {
    width: 100%;
  }
}
